.post-container {
  display: flex;
  flex-flow: column nowrap;
  width: 614px;
  margin: 0 auto;
  padding-top: 60px;
}
.post-container .post {
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
}
.post-container .header {
  background: #fff;
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.post-container .header .post-avatar {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.post-container .header .post-avatar img {
  height: 32px;
  border-radius: 50%;
}
.post-container .header .post-avatar p {
  margin: 0 0 0 16px;
}
.post-container .header img {
  height: 100%;
}
.post-container .post-image {
  width: 100%;
  vertical-align: top;
}
.post-container .post-interact,
.post-container .like-container,
.post-container .comments {
  background: #fff;
}
.post-container .post-interact {
  padding: 4px 8px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.post-container .post-interact .like-comm-share {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.post-container .post-interact a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.post-container .like-container {
  padding: 0 16px 5px;
  display: block;
  font-weight: 600;
}
.post-container .comments {
  padding: 0 16px 8px;
}
.post-container .comments p {
  padding-top: 5px;
}
.post-container .comments span {
  font-weight: 600;
  margin-right: 10px;
}
